<section id="topics"> 
  <h3>T칩picos do F칩rum</h3>
  <p class="text-right">
    <a class="btn btn-primary" href="/topic/new">Criar T칩pico</a>
  </p>
  <div class="list-group">
    <% @topics.each do |topic| %>
      <a href="/topic/<%= topic.id %>" class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= topic.subject %>
          <span class="badge"><%= topic.comments.size%> coment치rios</span>
        </h4>
        <p class="list-group-item-text">criado em <%= l(topic.created_at, format: :comment) %></p>
      </a>
    <% end %>
  </ul>
  <div>
    <%= will_paginate @topics %>
  </div>
</section>